@import "./node_modules/node-bourbon/assets/stylesheets/bourbon";
@import "./bower_components/bitters/app/assets/stylesheets/base";

body.example {
  display: block;
  max-width: 1000px;
  margin: 25px auto;
}