<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="refills.css">

    <script type="text/javascript" src="../../../bower_components/platform/platform.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

    <link rel="import" href="nav-bar/nav-bar.html">
    <link rel="import" href="hero-unit/hero-unit.html">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

  </body>
</html>

<div class="refills-header">
  <h1>Refills</h1>
  <h2><span>Refills</span> are prepackaged patterns and components, built on top of <a href="http://www.bourbon.io">Bourbon</a>, <a href="http://bitters.bourbon.io/">Bitters</a>, and <a href="http://neat.bourbon.io/">Neat</a>.</h2>
  <p>Managed by <a href="http://www.thoughtbot.com">thoughtbot</a>, instructions at <a href="https://github.com/thoughtbot/refills">Github</a></p>
</div>

<div id="example1" class="refills-wrapper">

  <a class="js-menu-trigger-refills refills-menu-anchor">
    <img src="images/menu.png" alt="">
  </a>
  <div class="js-menu-screen-refills refills-menu-screen"></div>

  <h5>Patterns</h5>

  <div id="navigation" class="refill">
    <div class="line-behind-text"><h6>Navigation</h6></div>

    <nav-bar></nav-bar>

  </div>

  <div id="hero" class="refill">
    <div class="line-behind-text"><h6>Hero Unit</h6></div>

    <hero-unit></hero-unit>

  </div>

  <div id="icon-bullet-points" class="refill">
    <div class="line-behind-text"><h6>Icon Bullet Points</h6></div>
    
    <div class="bullets">
      <div class="bullet three-col-bullet">
        <div class="bullet-icon bullet-icon-1">
          <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>This Bullet Title</h2>
          <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
          </div>
      </div>  
      <div class="bullet three-col-bullet">
        <div class="bullet-icon bullet-icon-2">
          <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>Another Bullet Title</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
        </div>
      </div>
      <div class="bullet three-col-bullet">
        <div class="bullet-icon bullet-icon-3">
          <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_4.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>Last Bullet Title</h2>
          <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
        </div>
      </div> 
    </div>

  </div>

  <div id="type-systems" class="refill">
    <div class="line-behind-text"><h6>Typographic Systems</h6></div>
      <div class="refill-smaller">
        <ul class="accordion-tabs-type-systems">

        <li class="tab js-is-active" data-role="tab">
          <a href="#" class="tab-link-type-system" data-role="link">Serif</a>
          <section>
            <div class="tab-content">
              
              <head>
                <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
              </head>

              <article class="type-system-serif">
                <p class="type">Article Type</p>
                <h1>Article Heading</h1>
                <h2>These override some of the styles specified in the Scss files "variables" and "typography" in Bitters. You can replace the typography variables and the header font specifications in Bitters with these styles. Then you won't need the wrapping class "type-system-name".</h2>
                <p class="date">30 Mar 2014</p>
                <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
                  <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
                </p>
                <h3>Subheading lorem</h3>
                <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit!  Accusamus.</p>
                <hr>
                <p class="author">Author Name</p>

              </article>


            </div>
          </section>
        </li>

        <li class="tab" data-role="tab">
          <a href="#" class="tab-link-type-system" data-role="link">Sans</a>
          <section>
            <div class="tab-content">
              
              <head>
                <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
              </head>

              <article class="type-system-sans">
                <p class="type">Article Type</p>
                <h1>Article Heading</h1>
                <h2>These override some of the styles specified in the Scss files "variables" and "typography" in Bitters. You can replace the typography variables and the header font specifications in Bitters with these styles. Then you won't need the wrapping class "type-system-name".</h2>
                <p class="date">30 Mar 2014</p>
                <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
                  <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
                </p>
                <h3>Subheading lorem</h3>
                <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit!  Accusamus.</p>
                <hr>
                <p class="author">Author Name</p>

              </article>


            </div>
          </section>
        </li>

        <li class="tab" data-role="tab">
          <a href="#" class="tab-link-type-system" data-role="link">Slab</a>
          <section>
            <div class="tab-content">

              <head>
                <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
              </head>

              <article class="type-system-slab">
                <p class="type">Article Type</p>
                <h1>Article Heading</h1>
                <h2>These override some of the styles specified in the Scss files "variables" and "typography" in Bitters. You can replace the typography variables and the header font specifications in Bitters with these styles. Then you won't need the wrapping class "type-system-name".</h2>
                <p class="date">30 Mar 2014</p>
                <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
                  <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
                </p>
                <h3>Subheading lorem</h3>
                <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit!  Accusamus.</p>
                <hr>
                <p class="author">Author Name</p>

              </article>


            </div>
          </section>
        </li>

        <li class="tab" data-role="tab">
          <a href="#" class="tab-link-type-system" data-role="link">Rounded</a>
          <section>
            <div class="tab-content">

              <head>
                <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
              </head>

              <article class="type-system-rounded">
                <p class="type">Article Type</p>
                <h1>Article Heading</h1>
                <h2>These override some of the styles specified in the Scss files "variables" and "typography" in Bitters. You can replace the typography variables and the header font specifications in Bitters with these styles. Then you won't need the wrapping class "type-system-name".</h2>
                <p class="date">30 Mar 2014</p>
                <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
                  <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
                </p>
                <h3>Subheading lorem</h3>
                <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit!  Accusamus.</p>
                <hr>
                <p class="author">Author Name</p>

              </article>


            </div>
          </section>
        </li>

        <li class="tab" data-role="tab">
          <a href="#" class="tab-link-type-system" data-role="link">Traditional</a>
          <section>
            <div class="tab-content">

              <head>
                <link href='http://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
              </head>

              <article class="type-system-traditional">
                <p class="type">Article Type</p>
                <h1>Article Heading</h1>
                <h2>These override some of the styles specified in the Scss files "variables" and "typography" in Bitters. You can replace the typography variables and the header font specifications in Bitters with these styles. Then you won't need the wrapping class "type-system-name".</h2>
                <p class="date">30 Mar 2014</p>
                <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
                  <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
                </p>
                <h3>Subheading lorem</h3>
                <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit!  Accusamus.</p>
                <hr>
                <p class="author">Author Name</p>

              </article>


            </div>
          </section>
        </li>

        <li class="tab" data-role="tab">
          <a href="#" class="tab-link-type-system" data-role="link">Geometric</a>
          <section>
            <div class="tab-content">

              <head>
                <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
              </head>

              <article class="type-system-geometric">
                <p class="type">Article Type</p>
                <h1>Article Heading</h1>
                <h2>These override some of the styles specified in the Scss files "variables" and "typography" in Bitters. You can replace the typography variables and the header font specifications in Bitters with these styles. Then you won't need the wrapping class "type-system-name".</h2>
                <p class="date">30 Mar 2014</p>
                <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
                  <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
                </p>
                <h3>Subheading lorem</h3>
                <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit!  Accusamus.</p>
                <hr>
                <p class="author">Author Name</p>

              </article>


            </div>
          </section>
        </li>

      </ul>
    </div>
  </div>

  <div id="cards" class="refill">
    <div class="line-behind-text"><h6>Cards</h6></div>

    <div class="cards">
      <div class="card">
        <div class="card-image">
          <img src="https://raw.github.com/Magnus-G/Random/master/mountains.png" alt="">
        </div>
        <div class="card-header">
          First Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
        <div class="card-stats">
          <ul>
            <li>98<span>Items</span></li>
            <li>298<span>Things</span></li>
            <li>923<span>Objects</span></li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="ribbon-wrapper"><div class="ribbon">RIBBON</div></div>
        <div class="card-image">
          <img src="https://raw.github.com/Magnus-G/Random/master/mountains-4.png" alt="">
        </div>
        <div class="card-header">
          Another Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
        <div class="card-stats">
          <ul>
            <li>98<span>Items</span></li>
            <li>298<span>Things</span></li>
            <li>923<span>Objects</span></li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://raw.github.com/Magnus-G/Random/master/mountains-3.png" alt="">
        </div>
        <div class="card-header">
          The Last Card
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
        <div class="card-stats">
          <ul>
            <li>98<span>Items</span></li>
            <li>298<span>Things</span></li>
            <li>923<span>Objects</span></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div id="comment" class="refill">
    <div class="line-behind-text"><h6>Comments</h6></div>
    <div class="refill-centering">
      
      <div class="comment">
        <div class="comment-image">
          <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
        </div>
        <div class="comment-content">
          <h1>First Comment Title or Author</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
          <p class="comment-detail">Date or details about this post</p>
        </div>
      </div>

      <div class="comment">
        <div class="comment-image">
          <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
        </div>
        <div class="comment-content">
          <h1>Another One</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
          <p class="comment-detail">Date or details about this post</p>
        </div>
      </div>


    </div>
  </div>

  <div id="accordion-tabs" class="refill">
    <div class="line-behind-text"><h6>Accordion / Tabs</h6></div>
    
    <ul class="accordion-tabs">
      <li class="tab-header-and-content">
        <a href="#" class="is-active tab-link">Tab Item</a>
        <section>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </section>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Another Tab</a>
        <section>
          <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
        </section>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Third</a>
        <section>
          <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
        </section>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Last Item</a>
        <section>
          <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.</p
        </section>
      </li>
    </ul>

    <script>
      $(document).ready(function () {
        $('.accordion-tabs').each(function(index) {
          $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
        });

        $('.accordion-tabs').on('click', 'li > a', function(event) {
          if (!$(this).hasClass('is-active')) {
            event.preventDefault();
            var accordionTabs = $(this).closest('.accordion-tabs')
            accordionTabs.find('.is-open').removeClass('is-open').hide();

            $(this).next().toggleClass('is-open').toggle();
            accordionTabs.find('.is-active').removeClass('is-active');
            $(this).addClass('is-active');
          } else {
            event.preventDefault();
          }
        });
      });
    </script>



    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">Tab Item</a>
        <section>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </section>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Another Tab</a>
        <section>
          <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
        </section>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Third</a>
        <section>
          <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
        </section>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Last Item</a>
        <section>
          <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.</p
        </section>
      </li>
    </ul>

    <script>
      $(document).ready(function () {
        $('.accordion-tabs-minimal').each(function(index) {
          $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
        });

        $('.accordion-tabs-minimal').on('click', 'li > a', function(event) {
          if (!$(this).hasClass('is-active')) {
            event.preventDefault();
            var accordionTabs = $(this).closest('.accordion-tabs-minimal')
            accordionTabs.find('.is-open').removeClass('is-open').hide();

            $(this).next().toggleClass('is-open').toggle();
            accordionTabs.find('.is-active').removeClass('is-active');
            $(this).addClass('is-active');
          } else {
            event.preventDefault();
          }
        });
      });
    </script>


  </div>

  <div id="tables" class="refill">
    <div class="line-behind-text"><h6>Tables</h6></div>
    
    <table class="table-borders">
      <thead>
        <tr>
          <th>Header Cell 1</th>
          <th>Header Cell 2</th>
          <th>Header Cell 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row 1 Cell 1</td>
          <td>Row 1 Cell 2</td>
          <td><button>Confirm</button><button>Reject</button></td>
        </tr>
        <tr>
          <td>Row 2 Cell 1</td>
          <td>Row 2 Cell 2</td>
          <td><button>Confirm</button><button>Reject</button></td>
        </tr>
        <tr>
          <td>Row 3 Cell 1</td>
          <td>Row 3 Cell 2</td>
          <td><button>Confirm</button><button>Reject</button></td>
        </tr>
        <tr>
          <td>Row 4 Cell 1</td>
          <td>Row 4 Cell 2</td>
          <td><button>Confirm</button><button>Reject</button></td>
        </tr>
      </tbody>
    </table>

    <table class="table-minimal">
      <thead>
        <tr>
          <th>Header Cell 1</th>
          <th>Header Cell 2</th>
          <th>Header Cell 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row 1 Cell 1</td>
          <td>Row 1 Cell 2</td>
          <td><button>Confirm</button><button>Reject</button></td>
        </tr>
        <tr>
          <td>Row 2 Cell 1</td>
          <td>Row 2 Cell 2</td>
          <td><button>Confirm</button><button>Reject</button></td>
        </tr>
        <tr>
          <td>Row 3 Cell 1</td>
          <td>Row 3 Cell 2</td>
          <td><button>Confirm</button><button>Reject</button></td>
        </tr>
        <tr>
          <td>Row 4 Cell 1</td>
          <td>Row 4 Cell 2</td>
          <td><button>Confirm</button><button>Reject</button></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div id="vertical-tabs" class="refill">
    <div class="line-behind-text"><h6>Vertical Tabs</h6></div>
    
    <div class="vertical-tabs-container">
      <div class="vertical-tabs">
        <a href="#" class="js-vertical-tab vertical-tab is-active" rel="tab1">Item 1</a>
        <a href="#" class="js-vertical-tab vertical-tab" rel="tab2">Item 2</a>
        <a href="#" class="js-vertical-tab vertical-tab" rel="tab3">Item 3</a>
        <a href="#" class="js-vertical-tab vertical-tab" rel="tab4">Item 4</a>
      </div>

      <div class="vertical-tab-content-container">
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">Item 1</a>
        <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">Item 2</a>
        <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
          <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum.</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">Item 3</a>
        <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
          <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">Item 4</a>
        <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
          <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
        </div>
      </div>
    </div>

    <script>
      $(".js-vertical-tab-content").hide();
      $(".js-vertical-tab-content:first").show();

      /* if in tab mode */
      $(".js-vertical-tab").click(function(event) {
        event.preventDefault();

        $(".js-vertical-tab-content").hide();
        var activeTab = $(this).attr("rel");
        $("#"+activeTab).show();

        $(".js-vertical-tab").removeClass("is-active");
        $(this).addClass("is-active");

        $(".js-vertical-tab-accordion-heading").removeClass("is-active");
        $(".js-vertical-tab-accordion-heading[rel^='"+activeTab+"']").addClass("is-active");
      });

      /* if in accordion mode */
      $(".js-vertical-tab-accordion-heading").click(function(event) {
        event.preventDefault()

        $(".js-vertical-tab-content").hide();
        var accordion_activeTab = $(this).attr("rel");
        $("#"+accordion_activeTab).show();

        $(".js-vertical-tab-accordion-heading").removeClass("is-active");
        $(this).addClass("is-active");

        $(".js-vertical-tab").removeClass("is-active");
        $(".js-vertical-tab[rel^='"+accordion_activeTab+"']").addClass("is-active");
      });
    </script>


  </div>

  <div id="grid-items" class="refill">
    <div class="line-behind-text"><h6>Grid Items</h6></div>

    <div class="grid-items">
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
        <h1>Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
        <h1>Grid Item With an Image</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item grid-item-big">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
        <h1>Another Wide Item</h1>
        <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
        <h1>Last Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
        <h1>Last Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
        <h1>A Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
        <h1>Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
    </div>

    <div class="grid-items-lines">
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1_dark.png" alt="">
        <h1>Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3_dark.png" alt="">
        <h1>Another Item</h1>
        <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2_dark.png" alt="">
        <h1>Another Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2_dark.png" alt="">
        <h1>Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item grid-item-big">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2_dark.png" alt="">
        <h1>Wider Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3_dark.png" alt="">
        <h1>A Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1_dark.png" alt="">
        <h1>Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <a href="javascript:void(0)" class="grid-item">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2_dark.png" alt="">
        <h1>Last Grid Item</h1>
        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
      </a>
      <div class="right-cover"></div>
      <div class="bottom-cover"></div>
    </div>


  </div>

  <div class="refills-wrapper">
    <div id="footer" class="refill">
      <div class="line-behind-text"><h6>Footers</h6></div>

      <footer class="footer">
        <div class="footer-logo">
          <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
        </div>
        <div class="footer-links">
          <ul>
            <li><h3>Content</h3></li>
            <li><a href="javascript:void(0)">About</a></li>
            <li><a href="javascript:void(0)">Contact</a></li>
            <li><a href="javascript:void(0)">Products</a></li>
          </ul>
          <ul>
            <li><h3>Follow Us</h3></li>
            <li><a href="javascript:void(0)">Facebook</a></li>
            <li><a href="javascript:void(0)">Twitter</a></li>
            <li><a href="javascript:void(0)">YouTube</a></li>
          </ul>
          <ul>
            <li><h3>Legal</h3></li>
            <li><a href="javascript:void(0)">Terms and Conditions</a></li>
            <li><a href="javascript:void(0)">Privacy Policy</a></li>
          </ul>
        </div>

        <hr>

        <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
      </footer>

      <footer class="footer-2">
        <div class="footer-logo">
          <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
        </div>
          <ul>
            <li><a href="javascript:void(0)">About</a></li>
            <li><a href="javascript:void(0)">Contact</a></li>
            <li><a href="javascript:void(0)">Products</a></li>
          </ul>

          <div class="footer-secondary-links">
            <ul>
              <li><a href="javascript:void(0)">Terms and Conditions</a></li>
              <li><a href="javascript:void(0)">Privacy Policy</a></li>
            </ul>

            <ul class="footer-social">
              <li><a href="javascript:void(0)">
                <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/facebook-logo-circle.png" alt="">
                </a></li>
              <li><a href="javascript:void(0)">
                <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/twitter-logo-circle.png" alt="">
              </a></li>
              <li><a href="javascript:void(0)">
                <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/youtube-logo-circle.png" alt="">
              </a></li>
            </ul>
          </div>
      </footer>

    </div>
  </div>

  <h5>Components</h5>

  <div id="modal" class="refill">
    <div class="line-behind-text"><h6>Modal</h6></div>

    <div class="modal">
      <label for="modal-1">
        <div class="btn js-btn">Click for Modal</div>
      </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-1"></label>
          <h1>Modal Title</h1>
          <p class="intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="body">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam.</p>
        </div>
      </div>
    </div>


  </div>

  <div id="sliding-menu" class="refill">
    <div class="line-behind-text"><h6>Sliding Menu</h6></div>
    
    <button type="button" class="js-menu-trigger sliding-menu-button">
      <img src="images/menu.png" alt="">
    </button>

    <nav class="js-menu sliding-menu-content">
      <ul>
        <li><a href="javascript:void(0)">Item 1</a></li>
        <li><a href="javascript:void(0)">Item 2</a></li>
        <li><a href="javascript:void(0)">Item 3</a></li>
      </ul>
    </nav>

    <div class="js-menu-screen menu-screen"></div>

    <script>
      $(document).ready(function(){

        $('.js-menu-trigger').on('click touchstart', function(e){
          $('.js-menu').toggleClass('is-visible');
          $('.js-menu-screen').toggleClass('is-visible');
          e.preventDefault();
        });

        $('.js-menu-screen').on('click touchstart', function(e){
          $('.js-menu').toggleClass('is-visible');
          $('.js-menu-screen').toggleClass('is-visible');
          e.preventDefault();
        });
      });
    </script>


  </div>

  <div id="badges" class="refill">
    <div class="line-behind-text"><h6>Badges</h6></div>

    <div class="badges">
      <span class="badge">4</span>
      <span class="badge dark">4</span>
      <span class="badge error">4</span>
      <span class="badge notice">4</span>
      <span class="badge success">4</span>
    </div>

  </div>

  <div id="breadcrumbs" class="refill">
    <div class="line-behind-text"><h6>Breadcrumbs</h6></div>

    <div class="breadcrumb">
      <a href="javascript:void(0)">One</a>
      <a href="javascript:void(0)">Two</a>
      <a href="javascript:void(0)">Three</a>
      <a href="javascript:void(0)">Four</a>
      <a href="javascript:void(0)">Five</a>
    </div>

  </div>

  <div id="hover-tile-animation" class="refill">
    <div class="line-behind-text"><h6>Hover Tile Animation</h6></div>

    <div class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          Hover
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Hidden Copy</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div>
      </div>
    </div>

  </div>

  <div id="accordion" class="refill">
    <div class="line-behind-text"><h6>Accordion</h6></div>

    <ul class="accordion">
      <li>
        <a href="javascript:void(0)" class="js-accordion-trigger">Accordion Item</a>
        <ul class="submenu">
          <li>
            <a href="javascript:void(0)">Sub Item 1</a>
          </li>
          <li>
            <a href="javascript:void(0)">Sub Item 2</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)" class="js-accordion-trigger">Another Item</a>
        <ul class="submenu">
          <li>
            <a href="javascript:void(0)">Sub Item 1</a>
          </li>
          <li>
            <a href="javascript:void(0)">Sub Item 2</a>
          </li>
        </ul>
      </li>
    </ul>

    <script>
      jQuery('.js-accordion-trigger') // find the trigger
        .bind('click', function(){
          jQuery(this).parent().find('.submenu').slideToggle('fast');  // apply the toggle to the ul
          jQuery(this).parent().toggleClass('is-expanded');
          event.preventDefault();
      });
    </script>

  </div>

  <div id="search-bar" class="refill">
    <div class="line-behind-text"><h6>Search bar</h6></div>

    <div class="search-bar">
      <div class="search-and-submit">
        <input type="search" placeholder="Enter Search" />
        <button type="submit">
          <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon-black.png" alt="">
        </button>
      </div>
    </div>


  </div>

  <div id="switch" class="refill">
    <div class="line-behind-text"><h6>Switch</h6></div>

    <div class="switch-container">
      <input type="checkbox" id="switch-toggle-1" name="switch-toggle" class="switch-checkbox" checked/>
      <label class="switch-label" for="switch-toggle-1">
        <div class="switch-inner"></div>
        <div class="switch-toggle-switch"></div>
      </label>
    </div>


  </div>

  <div id="image-gradient" class="refill">
    <div class="line-behind-text"><h6>Image with gradient overlays</h6></div>
    
    <div class="image-gradient">
      <div class="copy">
      <p>Fixed height container</p>
      </div>
      <div class="overlay"></div>
    </div>

    <div class="image-gradient-dynamic">
      <img src="http://organicclimber.com/wp-content/uploads/2012/06/EmeraldLake.jpg" alt="">
      <div class="copy">
        <p>Dynamic height container</p>
      </div>
      <div class="overlay"></div>
    </div>


  </div>

  <div id="button-group" class="refill">
    <div class="line-behind-text"><h6>Button Group</h6></div>

    <div class="button-group">
      <button class="active">Item</button>
      <button>Button Group Item</button>
      <button>Another Item</button>
      <button>Last Item</button>
    </div>

  </div>


  <div id="progress-bar" class="refill">
    <div class="line-behind-text"><h6>Progress Bars</h6></div>

    <div class="progress-bar">
      <span class="meter" style="width: 60%"></span>
    </div>

    <div class="progress-bar-indication">
      <span class="meter" style="width: 60%">
        <p>60%</p>
      </span>
    </div>

  </div>

  <div id="tooltip" class="refill">
    <div class="line-behind-text"><h6>Tooltip</h6></div>
    
    <div class="tooltip-item">
      Hover for Tooltip
      <div class="tooltip">
        <p>Tooltip text</p>
      </div>
    </div>

  </div>
</div>

<!-- Component Debug -->
<script>
  window.addEventListener('HTMLImportsLoaded', function(e) {
    console.log("all imports loaded");
  });
</script>
<script>
  window.addEventListener('WebComponentsReady', function(e) {
    console.log("imports are loaded and elements have been registered");
  });
</script>
<script>
  document.addEventListener('polymer-ready', function(e) {
    var nav-bar = document.querySelector('nav-bar');
    var hero-unit = document.querySelector('hero-unit');
  });
</script>


<!-- for the type-system tabs -->
<script>


  var $tabs, $toggles, ACTIVE_CLASS;

  ACTIVE_CLASS = 'js-is-active';

  $tabs = $("[data-role='tab']");

  $toggles = $tabs.find("[data-role='link']");

  $toggles.on('click', function(event) {
    var $tab, $toggle;
    event.preventDefault();
    $toggle = $(this);
    $tab = $toggle.closest($tabs);
    if (!$tab.hasClass(ACTIVE_CLASS)) {
      $tabs.removeClass(ACTIVE_CLASS);
      return $tab.addClass(ACTIVE_CLASS);
    }
  });
</script>

<script>
  $('a.js-show-code').on('click', function(e){
    $(this).hide();
    $(this).siblings('.js-hide-code').css('display', 'inline-block');
    $(this).parent().siblings('.snippet').show();
    e.preventDefault();
  })

  $('a.js-hide-code').on('click', function(e) {
    $(this).hide();
    $(this).siblings('.js-show-code').css("display", "inline-block");
    $(this).parent().siblings('.snippet').hide();
    e.preventDefault();
  });
</script>

<script>
  $(document).ready( function() {
    client = new ZeroClipboard($('.copy-source'), {moviePath: 'images/ZeroClipboard.swf'})
    client.on('dataRequested', function(client, args) {
      code = $(this).siblings('pre').text();
      client.setText(code);
    });
  });
</script>

<script>
  $(document).ready(function(){

    $('.js-menu-trigger-refills').on('click touchstart', function(e){
      $('.er_toc').toggleClass('is-visible');
      $('.js-menu-screen-refills').toggleClass('is-visible');
      e.preventDefault();
    });

    $('.js-menu-screen-refills').on('click touchstart', function(e){
      $('.er_toc').toggleClass('is-visible');
      $('.js-menu-screen-refills').toggleClass('is-visible');
      e.preventDefault();
    });
  });
</script>
